services:
  unifi-db:
    image: docker.io/mongo:8.2.2
    container_name: ${CONTAINER_PREFIX}unifi-db
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
      - MONGO_USER
      - MONGO_PASS
      - MONGO_DBNAME
      - MONGO_AUTHSOURCE
    volumes:
      - ${CONFIG_DIR}/mongodb/data:/data/db
      - ./init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
    restart: unless-stopped

  unifi-network-application:
    image: lscr.io/linuxserver/unifi-network-application:10.0.162
    container_name: ${CONTAINER_PREFIX}unifi-network-application
    environment:
      - PUID
      - PGID
      - TZ
      - MONGO_USER
      - MONGO_PASS
      - MONGO_HOST
      - MONGO_PORT
      - MONGO_DBNAME
      - MONGO_AUTHSOURCE
      - MEM_LIMIT
      - MEM_STARTUP
      - MONGO_TLS
    volumes:
      - ${CONFIG_DIR}/unifi-network-application/data:/config
    ports:
      - ${PORT_8443}:8443
      - ${PORT_3478}:3478/udp
      - ${PORT_10001}:10001/udp
      - ${PORT_8080}:8080
      - ${PORT_1900}:1900/udp # Optional
      - ${PORT_8843}:8843 # Optional
      - ${PORT_8880}:8880 # Optional
      - ${PORT_6789}:6789 # Optional
      - ${PORT_5514}:5514/udp # Optional
    restart: unless-stopped
